* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  margin-top: 20px;
  text-align: center;
}

.name {
  justify-content: center;
}
.flexWLT {
  display: flex;
  justify-content: space-around;
  margin: 20px 30px;
}

.gameArea {
  display: flex;
}

.center {
  text-align: center;
}

#tie {
  display: none;
  margin-top: 30px;
}

#onewins {
  display: none;
  margin-top: 30px;
}

#twowins {
  display: none;
  margin-top: 30px;
}

.player {
  text-align: center;
}

.player1Div {
  border: 1px black solid;
  height: 200px;
  width: 40%;
}
.player2Div {
  border: 1px black solid;
  height: 200px;
  width: 40%;
}

.choices1 {
  display: none;
}
.choices2 {
  display: none;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  background-color: teal;
}

.player1Picking {
  margin-top: 50px;
  display: none;
}
.center {
  border: 1px black solid;
  height: 100px;
  width: 20%;
  align-self: center;
}
.chat {
  margin-top: 30px;
}
#chatBox {
  width: 100%;
  height: 150px;
  border: 1px #ccc solid;
  padding: 10px;
}

.msg {
  line-height: 0.5;
  font-size: 12px;
}
